<!DOCTYPE html>
<html>
<head>
    <title>Xpiriance</title>

    <!-- These are fixed css and js files need to include in every page -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/lib/css/materialize.min.css"  media="screen,projection"/>
    <script type="text/javascript" src="static/lib/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/lib/js/materialize.min.js"></script>
    <script type="text/javascript" src="static/lib/js/stickyfill.js"></script>
    <link rel="stylesheet" href="static/lib/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="static/lib/css/font-awesome.css"/>

    
    <!-- These are required css files used in this page -->
    <link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/lib/quill_editor/quill-emoji.css">
    <script src="https://cdn.quilljs.com/1.3.5/quill.js"></script>
    <script type="text/javascript" src="static/lib/quill_editor/quill-emoji.js"></script>
    <script type="text/javascript" src="static/lib/quill_editor/quill_editor_url.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    
    <!-- These are required js files used in this page -->
    <script type="text/javascript" src="static/js/general_js/header.js"></script>

    <script type="text/javascript" src="static/js/post_section_js/experience/experience_text_editor.js"></script>
    <script type="text/javascript" src="static/js/post_section_js/discussion/discussion_text_editior.js"></script>
    <script type="text/javascript" src="static/js/post_section_js/discussion/discussion_timeline_format.js"></script>

    <link type="text/css" rel="stylesheet" href="static/css/general_css/header.css">
    <link type="text/css" rel="stylesheet" href="static/css/post_section/text_editor_section.css">
    <link type="text/css" rel="stylesheet" href="static/css/post_section/user_post.css">
    <link type="text/css" rel="stylesheet" href="static/css/post_section/experience_post.css">



    <style type="text/css">
        
        .home_content{
            margin-top: 90px;
            width: 100%;
        }

        .first_section{
            width: 45%;
            margin-left: 8%;
            float: left;
            text-align: justify;
        }

        .second_section{
            width: 35%;
            margin-left: 4%;
            float: left;
            text-align: justify;
        }

        .reply{
            visibility: hidden;
        }

        .reply_secondary_input{
            display: none;
        }

        .icons{
            cursor: pointer;
        }

        .parent_comment{
            color: #37474f;
        }

    </style>

    



</head>
<body>

    <div class="row no_padding_margin">




        <div class="col s12 header_section" id="no_padding_margin">

            <div class="col s3" id="no_padding_margin">
                <div class="col s12">
                    <a href="/"><img src="static/images/xpiriance_logo.png" class="logo_name"></a>
                </div>
            </div>

            <div class="col s5" id="no_padding_margin">
                <div id="search_box">
                    <input type="search" placeholder="Search" id="search">
                </div>
            </div>

            <div class="col s4" id="no_padding_margin">
                <div class="right_header">

                    <div class="">
                        <a href="" id="user_notifications"><i class="fa fa-bell" aria-hidden="true" id="header_icons"></i></a>
                        <a href="" id="user_messages"><i class="fa fa-comments" aria-hidden="true" id="header_icons"></i></a>
                    </div>

                    <div class="">

                        <a href="" id="user_profile"><img id="user_image" src="" class="user_image"></a>

                        <a class='dropdown-trigger' id="dropdown_button" data-target='dropdown_option' data-activates="dropdown_option" data-beloworigin="true">
                            <span style="margin-right: 5px;" id="user_name"></span>
                            <i class="fa fa-sort-desc" aria-hidden="true"></i>
                        </a>

                        <ul id='dropdown_option' class='dropdown-content'>
                            <li><a href="" id="user_profile_link">Profile</a></li>
                            <li><a href="" id="user_settings"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
                            <li><a href="" id="user_bookmark"><i class="fa fa-bookmark" aria-hidden="true"></i>Bookmarks</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="/logout/"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                        </ul>

                    </div>

                </div>
                
            </div>
        </div>


        <div class="col s12 home_content">

            <div class="first_section">
                
                <div class="col s12">

                    <div class="experience_write" style="margin: 0px; width: 100%;">

                        <div class="card-panel row" style="padding: 15px; cursor: pointer;"  id="create_experience_post">
                            <div class="row valign-wrapper" style="margin: 0px;">
                                <div class="col s2">
                                    <img id="user_image" src="static/images/image1.jpg" alt="" class="circle responsive-img user_exp_image">
                                </div>
                                <div class="col s10">
                                    <span class="share_experience_text">
                                        Share your experience with world....
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div id="experience_modal" class="editor_modal">
                            <div class="editor_modal-content">
                                <div class="post_modal_close" id="exp_close">
                                    <span class="close_now">&times;</span>
                                </div>
                                <div style="width: 100%;">
                                    <textarea class="materialize-textarea" class="experience_title" id="experience_title" placeholder="Write Experience Title"></textarea>
                                    <div>
                                        <div id="experience">
                                        </div>
                                    </div>
                                    <div class="Select_topic">
                                        <div id="experience_tags" class="chips chips-autocomplete post_tags">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="footer1">
                                    <b class="anonymous">Anonymous</b>
                                    <div class="switch">
                                        <label>No
                                            <input type="checkbox" class="experience_annonymous">
                                            <span class="lever"></span>Yes
                                        </label>
                                    </div>
                                    <div class="edit_btn btn" id="experience_post">Post</div>
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="user_timeline" id="user_timeline">

                        
                    </div>


                </div>

            </div>

            <div class="second_section">

                <div class="col s12">

                    <div class="card white">
                        <div class="card-content black-text">
                            <span class="card-title" style="font-weight: 500;">Have a Problem?</span>
                            <p>Discuss any type of problem here!!</p>
                        </div>
                        <div class="card-action" id="ask_problem" style="text-align: center;">
                            <span href="" style="text-transform: capitalize; cursor: pointer;">Ask Here</span>
                        </div>
                    </div>


                    <div id="issue_modal" class="editor_modal">
                        <div class="editor_modal-content">
                            <div class="post_modal_close" id="issue_close">
                                <span class="close_now">&times;</span>
                            </div>
                            <div style="width: 100%;">
                                <p class="discussion_title">Ask your problem</p>

                                <div id="issue">

                                </div>

                                <div class="Select_topic">
                                    <div id="issue_tags" class="chips chips-autocomplete post_tags">
                                        
                                    </div>
                                </div>
                                
                            </div>

                            <div class="footer1">
                                <b class="anonymous">Anonymous</b>
                                <div class="switch">
                                    <label>No
                                        <input type="checkbox" class="issue_annonymous">
                                        <span class="lever"></span>Yes
                                    </label>
                                </div>
                                <div class="edit_btn btn" id="issue_post">Post</div>
                            </div>
                        </div>

                    </div>


                </div>


            </div>

        </div>


    </div>
   
    <script type="text/javascript">get_header_data();</script>
    <script type="text/javascript">get_discussion_data();</script>


</body>
</html>
