body{
    background-color: #f3e5f5;
}

.enter_email_to_reset_password{
      /*margin:0px 0px -12px 0px;*/
}
.enter_email{
    font-size: 22px;
    margin-right:10px;
}
.email{
    height:15px;
    line-height:15px;
}
.forget_password_page{
    padding-top:200px;
}

.submit_email{
    text-align: center;
    padding-bottom:0px;
    margin-top: 30px;

}

.reset_password_text{
    margin-bottom: 2px;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    color: #37474f;
}

.email_status{
    text-align: center;
    font-size: 14px;
    /*margin-top: 10px;*/
    margin-bottom:0px;
    color: red;
}

#main_section{
    padding: 20px;
}