<!DOCTYPE html>
<html>
<head>
    <title>Xpiriance</title>

    <!-- These are fixed css and js files need to include in every page -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  -->
    <link type="text/css" rel="stylesheet" href="../../static/lib/css/materialize.min.css"  media="screen,projection"/>
    <script type="text/javascript" src="../../static/lib/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../static/lib/js/materialize.min.js"></script>
    <!-- <script type="text/javascript" src="../static/js/stickyfill.js"></script> -->
    <link rel="stylesheet" href="../../static/lib/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/lib/css/font-awesome.css"/>

    <link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
     

    
    <!-- These are required css files used in this page -->
    <link type="text/css" rel="stylesheet" href="../../static/css/authentication_css/authentication_page.css">

    <!-- These are required js files used in this page -->
    <script type="text/javascript" src="../../static/js/authentication_js/forget_change_password.js"></script>


    

    <style type="text/css">


.reset_password_text{
    margin-top: 10%;
    font-size: 115%;
    font-weight: 600;
    color: #37474f;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.5px;
}
#icon_prefix{
    color: #000;
    margin-left: 10%;
    margin-top: 0%;
    font-size: 14px;
    border: none;
    width: 60%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid rgba(238,238,238 ,1);
    outline-color: #06D85F;
    text-align: left;
    padding-left: 2%;
}

.error_message{
    margin-left: 10%;
    font-size: 15px;
    color: red;
    margin-top: -8px;
    /*text-align: center;*/
}

.submit_change{
    height: 40px;
  font-size: 100%;
  padding-top: 0%;
  color:  #fff;
  background-color: #1e88e5;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.submit_change:hover{
    color: #fff;
    background-color: #1e88e5;
}

@media (max-width: 1007px) {
    
}
    </style>
    

</head>

<body>




    <div class="row login_signup_page">

        <div class="col l12" id="page_header">
            <a href="/"><img src="../../static/images/xpiriance_logo.png" class="logo_name"></a>
            <a href="/login/"><p class="signup_btn"><b>Login</b></p></a>
        </div>

        <div class="col l12" style="margin-top: 4%;">

            <div class="col l7 xl7" id="main_page">
                <div class="left_login">
                    
                    <b class="bold_land">Get help. Get better.</b>
                    <p class="flow-text">No matter what's troubling you, get the support <br>you need, right here, right now.</p>
                    <img src="../../static/images/landing_page_image.jpg" class="login_img">
                </div>  
            </div>


            <div class=" row col s12 m12 l5 xl5" style="padding-left: 5%;">


                <div class="mob_logo">
                    <a href="/"><img src="../static/images/xpiriance_logo.png" class="mob_logo_name"></a>
                </div>


                <a href="/login/"><p class="mob_signup_btn"><b>Login</b></p></a>



                <p class="col s12 reset_password_text" style="margin-left: 10%;">Please enter your new password</p>

                <div class="row col s12 password">
                    <div class="input-field col s12">
                        <input id="icon_prefix" type="password" class="validate new_password" placeholder="Enter new password">
                        <p class="error_message" id="new_password"></p>
                    </div>
                </div>

                <div class="row col s12 confirm_password">
                    <div class="input-field col s12">
                        <input id="icon_prefix" type="password" class="validate confirm_new_password" placeholder="Confirm new password">
                        <p class="error_message" id="confirm_password"></p>
                    </div>
                </div>
                <div class="col s12">
                    <button class="submit_change btn" style="width: 60%; margin-left: 12%;">
                        Submit
                    </button>
                </div>



                <!-- <p class="col s12 reset_password_text">Please enter your email address</p>

                <div class="col s12 input-field valign-wrapper enter_email_to_reset_password">
                    <input type="email" placeholder="Enter Account Email id" id="icon_prefix" class="email" name="password_reset_email" class="validate">
                </div>

                <div class="email_status"></div>
                
                <div class="col s12 submit_email btn" style="width: 60%; margin-left: 2%;">Submit</div>
                <div class="col s12" style="width: 60%; margin-left: 20%;">
                    <p><a href="/signup/"><span id="forgot">Create a New Account</span></a></p>
                </div> -->
                
            </div>

        </div>


    </div>


    <div class="footer1">
        <ul style="display: flex;">
            <li><a class="about_word" href="../../about-us/">About Us</a></li>
            <li><a class="about_word" href="../../contact/">Contact Us</a></li>
            <li><a href="../../business-with-us" class="about_word">Business with Us</a></li>
            <li><a class="about_word" href="../../privacy-policy/">Privacy Policy</a></li>
            <li><a class="about_word" href="../../terms-conditions/">Term & Condition</a></li>
            <li><a class="about_word" href="../../career-with-us/">Career</a></li>
            
            <li class="follow_word">Follow on</li>
            <li class="iconsoc"><a href="#" class="fa fa-facebook iconsoc"></a></li>
            <li class="iconsoc"><a href="#" class="fa fa-twitter iconsoc"></a></li>
            <li class="iconsoc"><a href="#" class="fa fa-google iconsoc"></a></a></li>
            <li class="iconsoc"><a href="#" class="fa fa-instagram iconsoc"></a></li>
        </ul>                             
    </div>


  
    <div class="footer col s12 m12">
        <a href="../../about-us" class="about_word">About Us</a>
        <a href="../../career-with-us" class="career_word">Career with Us</a>
        <a href="../../business-with-us" class="business_word">Business with Us</a>
        <a href="../../terms-conditions" class="term_word">Terms &amp; Conditions</a>
        <a href="../../privacy-policy" class="privacy_word">Privacy Policy</a>
        <a href="../../contact" class="contact_word">Contact Us</a>
    </div>
     
    <div class="footer-mob s12 m12" style="text-align: center;">
        <div class="container">
            <span style>Subscribe on</span>
            <span class="icon">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-instagram"></a>
            </span>
        </div>
    </div>
           
    <script type="text/javascript"> initailise_page();</script>

</body>
</html>
